<!DOCTYPE html>
<html lang="pt-AO">
<head>
    <meta charset="UTF-8">
    <title>Neuravest | NeuroControle.</title>
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ffde59">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Neuravest Inc.">
    <meta name="googlebot" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <script src="../assets/js/script.js" defer></script>
    <link rel="stylesheet" href="../assets/css/output.css">
    <link rel="canonical" href="https://www.neuravest.com">
    <script src="path/to/chartjs/dist/chart.umd.min.js"></script>
    <meta property="og:url" content="https://www.neuravest.com">
    <link rel="shortcut icon" href="../assets/img/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:title" content="Neuravest - Investimentos inteligentes e lucrativos usando o poder das IAs">
    <meta name="keywords" content="neuravest, neuravestangola, investimentos, site de investimentos, ganhar dinheiro, ia angola, investimentos em Angola">
    <meta property="og:description" content="O Neuravest usa IA e estatísticas avançadas para identificar investimentos eficientes e escaláveis precisão.">
    <meta name="description" content="Neuravest é uma plataforma de investimentos inteligente que usa algoritmos de IA avançada para otimizar sua carteira de investimentos">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        const myChart = new Chart(ctx, {...});
    </script>
    <noscript>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </noscript>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebSite",
          "name": "Neuravest",
          "url": "https://www.neuravest.com",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "https://www.neuravest.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
    </script>
</head>
<body class="bg-[#151515] overflow-hidden">

    <main class="px-4 bg-[#151515] flex">
        <div class="flex flex-col h-screen justify-around w-[300px] bg-[#141414] p-4 border-r-2 border-r-[#2E2C2C]">
            <a href="#"><img src="../assets/img/logo.png" alt="imagem da logo da neuravest." srcset="" class="w-14"></a>
            <div class="divSecaoEsquerdaDashboard">
                <i class="fa-solid fa-robot"></i>
                <h5 class="textoSecaoEsquerdaDashboard">NeuraInfo</h5>
            </div>
            <div class="divSecaoEsquerdaDashboard ativo">
                <i class="fa-solid fa-money-bill-wave"></i>
                <h5 class="textoSecaoEsquerdaDashboard">Saldo</h5>
            </div>
            <div class="divSecaoEsquerdaDashboard">
                <i class="fa-solid fa-piggy-bank"></i>
                <h5 class="textoSecaoEsquerdaDashboard">Investimentos</h5>
            </div>
            <div class="divSecaoEsquerdaDashboard">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <h5 class="textoSecaoEsquerdaDashboard">Saques</h5>
            </div>
            <div class="divSecaoEsquerdaDashboard">
                <i class="fa-solid fa-trophy"></i>
                <h5 class="textoSecaoEsquerdaDashboard">Ganho em Bónus</h5>
            </div>
            <div class="divSecaoEsquerdaDashboard">
                <i class="fa-solid fa-stairs"></i>
                <h5 class="textoSecaoEsquerdaDashboard">Progresso</h5>
            </div>
            <div class="divSecaoEsquerdaDashboard">
                <i class="fa-solid fa-circle-info"></i>
                <h5 class="textoSecaoEsquerdaDashboard">EU</h5>
            </div>
            <div class="divSecaoEsquerdaDashboard">
                <i class="fa-solid fa-person-running"></i>
                <h5 class="textoSecaoEsquerdaDashboard">Terminar Sessão</h5>
            </div>
            <div class="border-2 border-[#2E2C2C] p-2 rounded-lg text-white">
                <h5 class="font-ibm text-[16pt] uppercase font-bold text-center"><span class="textoColorido">Convide</span> seus amigos e <span class="textoColorido">ganhe 15.000,00KZs</span> de bónus! <i class="fa-solid fa-bolt"></i></h5>
                <h6 class="font-inter font-light text-center">Mudar o teu futuro financeiro depende somente de você.</h6>
            </div>
        </div>
       <div class="bg-[#151515] w-full px-4 pb-4 overflow-y-scroll h-screen">
            <div class="flex items-center justify-between fixed h-16 bg-[#1515157a]  z-[20] backdrop-blur-[4px]" style="width: calc(100vw - 300px);">
                <div>
                    <h1 class="font-ibm text-2xl font-bold -mb-1.5 uppercase text-white">Olá, <span class="textoColorido">Neurania.</span></h1>
                    <small class="text-gray-500">É sempre bom ver você por aqui!</small>
                </div>

                <div class="flex items-center gap-2.5">
                    <div>
                        <input type="search" name="pesquisa" id="pesquisa" class="border-2 border-[#2e2c2c] rounded-full outline-0 py-1 px-1.5 w-[350px]">
                    </div>
                    <div class="divNomeAlcunhaInvestidor">
                        <h4 class="uppercase font-bold text-amber-300">Neurania Makiesse</h4>
                        <small class="text-gray-500 font-bold">Neurania Neury</small>
                    </div>
                </div>

            </div>
            <div class="hidden">

                <div class="flex mt-20">
                    <div class="divValor">
                        <div>
                            <h5>Saldo (Kzs)</h5>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <div>
                            <h4 class="valorDisponivel textoGradiente">20 345 132,84</h4>
                        </div>   
                    </div>
                    
                    <div class="divValor">
                        <div>
                            <h5>Investido (kzs)</h5>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <div>
                            <h4 class="valorDisponivel textoGradiente">2 234 100,00</h4>
                        </div>   
                    </div>
                    
                    <div class="divValor">
                        <div>
                            <h5>Ganhos (kzs)</h5>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <div>
                            <h4 class="valorDisponivel textoGradiente">15 542 456,00</h4>
                        </div>   
                    </div>
                    
                    <div class="divValor">
                        <div>
                            <h5>Sacado (kzs)</h5>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                        <div>
                            <h4 class="valorDisponivel textoGradiente">3 500 000,00</h4>
                        </div>   
                    </div>
                </div>
                <div class="flex justify-center">
                    <img src="../assets/img/mármore preto insta post.png" alt="" srcset="" class="h-[500px] w-[45%]">
                </div>
                <div class="flex justify-around items-center">
                    <div class="h-[150px] w-[200px] p-2 justify-center flex items-center text-center">
                        <h3 class="textoGradiente font-ibm font-bold text-[13pt]">Descubra Onde a NeuraIA investiu Hoje!</h3>
                        <i class="fa-solid fa-arrow-right textoGradiente"></i>
                    </div>
                    <div class="divOndeIAInvestiu">
                        <h5 class="tituloInvestimentoIa">Bitcoin</h5>
                        <h6 class="valorInvestidoIa textoGradiente">24.8%</h6>
                    </div>
                    <div class="divOndeIAInvestiu">
                        <h5 class="tituloInvestimentoIa">NASDAQ</h5>
                        <h6 class="valorInvestidoIa textoGradiente">14.73%</h6>
                    </div>
                    <div class="divOndeIAInvestiu">
                        <h5 class="tituloInvestimentoIa">Imóveis</h5>
                        <h6 class="valorInvestidoIa textoGradiente">14.73%</h6>
                    </div>
                    <div class="divOndeIAInvestiu">
                        <h5 class="tituloInvestimentoIa">Ethereum</h5>
                        <h6 class="valorInvestidoIa textoGradiente">27.73%</h6>
                    </div>
                    <div class="divOndeIAInvestiu">
                        <h5 class="tituloInvestimentoIa">BODIVA</h5>
                        <h6 class="valorInvestidoIa textoGradiente">4.03%</h6>
                    </div>
                </div>
            </div>
            <div class="contentDivValorSecao">
                <div class="divValor divValorOpcao">
                    <div>
                        <h5>Saldo (Kzs)</h5>
                        <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div>
                        <h4 class="valorDisponivel textoGradiente">20 345 132,84 KZs</h4>
                    </div>  
                </div>
                <h3 class="textoValorOpcao">Parabéns, você está ganhando muito bem! Estamos felizes por você!</h3>
            </div>
       </div>
    </main>

</body>
</html>